* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
header {
  background-color: #e9e9e9;
  color: white;
  padding: 1rem 0;
}
ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  padding: 0 0.6rem;
  color: black;
}
main {
  max-width: 80%;
  margin: 0 auto;
}
section {
  margin: 1rem 0;
}
#hero p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
.width-50 {
  width: 50%;
}
.font-bigger {
  font-size: 1.2rem;
}
blockquote {
  font-style: italic;
  border-left: 4px solid #888;
  padding-left: 1rem;
  width: 80%;
  font-family: "Roboto", sans-serif;
}
.margin-top {
  margin-top: 4rem;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
#skills ul {
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem 0;
}
#skills ul li {
  background-color: #e9e9e9;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
}
footer {
  background-color: #dbdbdb;
  padding: 1rem 0;
}
@media (max-width: 768px) {
  #about-me h2 {
    margin-bottom: 1.6rem;
  }
  main {
    max-width: 95%;
  }
  header + footer {
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  #about-me .flex {
    flex-direction: column;
    align-items: center;
  }
  main {
    max-width: 95%;
  }
  blockquote {
    width: 100%;
    border-left: none;
    padding-left: none;
  }
}
